@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: LatoBlack;
    src: url("/fonts/lato-black-webfont.woff") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: LatoBold;
    src: url("/fonts/lato-bold-webfont.woff") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: LatoLight;
    src: url("/fonts/lato-light-webfont.woff") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: LatoRegular;
    src: url("/fonts/lato-regular-webfont.woff") format("woff2");
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: LatoThin;
    src: url("/fonts/lato-thin-webfont.woff") format("woff2");
    font-display: swap;
    font-style: normal;
  }
}
